
/* Global Styles */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(35, 81%, 88%);
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/* Menú */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url("img/fondonosotros.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px 20px;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: beige;
}

/* Banner */

.banner {
    background-image: url("img/fondonosotros.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Brush Script MT;
}

.contenido-banner h2 {
    font-size: 90px;
    font-weight: 50;    
    margin-bottom: 10px;
}

/* Seccion de Nuestra Historia */

.seccion-historia{
    padding: 60px 30px;
    text-align: center;
}

.seccion-historia h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.seccion-historia p{
    font-size: 25px;
}

/* Footer */

footer {
    background-color: #804000;
    color: white;
    text-align: center;
    padding: 20px 30px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: #ffd700;
}