
/* Global Styles */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(35, 81%, 88%);
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/* Menú */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url("img/fondoubicacion.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px 20px;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: beige;
}

/* Banner */

.banner{
    background-image: url("img/fondoubicacion.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    font-family: Brush Script MT;
}

.contenido-banner h2 {
    font-size: 90px;
    font-weight: 50;    
    margin-bottom: 10px;
}

/* Seccion de Ubicacion */

.presentacion-ubicacion{
    padding: 100px 40px;
    text-align: center;
}

.presentacion-ubicacion h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* Cafeteria Zona Obelisco */

.cafeteria-obelisco{
    background-image: url("img/cafeteria-obelisco.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

.contenido-obelisco h2 {
    font-size: 90px;
    font-weight: 50;    
    margin-bottom: 10px;
}

.contenido-obelisco p {
    font-size: 44px;
    margin-bottom: 20px;
}

/* Cafeteria Almagro */

.cafeteria-almagro{
    background-image: url("img/cafeteria-almagro.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

.contenido-almagro h2 {
    font-size: 90px;
    font-weight: 50;    
    margin-bottom: 10px;
}

.contenido-almagro p {
    font-size: 44px;
    margin-bottom: 20px;
}

/* Cafeteria Puerto Madero */

.cafeteria-puerto-madero{
    background-image: url("img/fondoubicacion.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

.contenido-puerto-madero h2 {
    font-size: 90px;
    font-weight: 50;    
    margin-bottom: 10px;
}

.contenido-puerto-madero p {
    font-size: 44px;
    margin-bottom: 20px;
}


/* Cafeteria Recoleta */

.cafeteria-recoleta{
    background-image: url("img/cafeteria-recoleta.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

.contenido-recoleta h2 {
    font-size: 90px;
    font-weight: 50;    
    margin-bottom: 10px;
}

.contenido-recoleta p {
    font-size: 44px;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: #804000;
    color: white;
    text-align: center;
    padding: 20px 30px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: #ffd700;
}