
/* Global Styles */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(35, 81%, 88%);
}

a {
    text-decoration: none;
}

/* Menú */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: beige;
}

/* Estilos básicos para el formulario */

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(173, 153, 121);
}

.formulario{
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.caja-formulario {
    background-color: hsl(35, 81%, 88%);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: black;
}

label {
    font-weight: bold;
    color: black;
}

input[type="text"],

input[type="email"],

input[type="tel"],

textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #804000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #261300;
}

/* Footer */

footer {
    background-color: #804000;
    color: white;
    text-align: center;
    padding: 20px 30px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: #ffd700;
}
